* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: gray;
  padding: 0px 20px;
  ul.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    li {
      list-style-type: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  i.burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav {
    ul.nav-links {
      position: absolute;
      display: block;
      top: 0px;
      right: 0px;
      padding: 40px;
      float: left;
      height: 100vh;
      width: 70%;
      background-color: black;
      color: white;
      transform: translateX(-400px);
      //   transition: 0.7s all;
      li {
        padding: 20px 0px;
        border-bottom: 1px solid white;
        &:last-of-type {
          border-bottom: 0px solid black;
        }
      }
    }
    i.burger {
      display: block;
      cursor: pointer;
    }
  }
}
